<?xml version="1.0"?>
<config>
  <modules>
    <Hetinfoway_Video>
      <version>0.2.6</version>
    </Hetinfoway_Video>
  </modules>
  <frontend>
    <routers>
      <video>
        <use>standard</use>
          <args>
            <module>Hetinfoway_Video</module>
            <frontName>video</frontName>
          </args>
      </video>
    </routers>
		<layout>
		  <updates>
			<video>
			  <file>video.xml</file>
			</video>
		  </updates>
		</layout>
  </frontend>
  <default>
  <web>
      <routers>
         <hetinfoway_video>
            <area>frontend</area>
            <class>Hetinfoway_Video_Controller_Router</class>
         </hetinfoway_video>
      </routers>
   </web>
	<hetinfoway_video>
		<hetinfoway_vgroup>
			<page_url>video</page_url>
			<width>160</width>
			<height>135</height>
			<video_cat_per_page>10,20,30</video_cat_per_page>
			<video_item_per_page>10,20,30</video_item_per_page>
		</hetinfoway_vgroup>
	</hetinfoway_video>
   </default>
  
  <admin>
	<routers>
	  <video>
	    <use>admin</use>
		<args>
		  <module>Hetinfoway_Video</module>
		  <frontName>video</frontName>
		</args>
	  </video>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <video module="video">
		<title>Video</title>
		<sort_order>100</sort_order>
		<children>
			<categories module="video">
				<title>Manage Category</title>
				<sort_order>0</sort_order>
				<action>video/adminhtml_category</action>
			</categories>
		  <items module="video">
		    <title>Manage Video</title>
			<sort_order>1</sort_order>
			<action>video/adminhtml_video</action>
		  </items>
		</children>
	  </video>
	</menu>
	<acl>
		<resources>
			<all>
				<title>Allow Everything</title>
			</all>
			<admin>
				<children>
					<system>
						<children>
							<config>
								<children>
									<hetinfoway_video translate="title" module="video">
										<title>Video Configuration Section</title>
										<sort_order>0</sort_order>
									</hetinfoway_video>
								</children>
							</config>
						</children>
					</system>
				</children>
			</admin>
		</resources>
	</acl>
	<layout>
	  <updates>
		<video>
		  <file>video.xml</file>
		</video>
	  </updates>
	</layout>
  </adminhtml>
  <global>
    
	<models>
	  <video>
		<class>Hetinfoway_Video_Model</class>
		<resourceModel>video_mysql4</resourceModel>
	  </video>
	  <video_mysql4>
		<class>Hetinfoway_Video_Model_Mysql4</class>
		<entities>		  
			  <video>
				<table>hetvideo</table>
			  </video>
			  <category>
				<table>category</table>
 			  </category>
        </entities>
	  </video_mysql4>
	</models>
	
	<resources>
	  <video_setup>
		<setup>
		  <module>Hetinfoway_Video</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </video_setup>
	  <video_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </video_write>
	  <video_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </video_read>
	</resources>
	<helpers>
      <video>
        <class>Hetinfoway_Video_Helper</class>
      </video>
    </helpers>
	<blocks>
	  <video>
		<class>Hetinfoway_Video_Block</class>
	  </video>
	</blocks>
	<!--<events>
	<controller_front_init_routers>
		<observers>
			<video>
				<type>singleton</type>
				<class>Hetinfoway_Video_Controller_Router</class>
				<method>initControllerRouters</method>
			</video>
		</observers>
	</controller_front_init_routers>
	</events>-->
  </global>
</config> 
