<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Ecomwise_Creditlimitplus>
			<version>1.1.7</version>
		</Ecomwise_Creditlimitplus>
	</modules>
	<default>	
    	<payment>
    		<payonaccountplus>
    			<active>1</active>
                <model>ecomwisecreditplus/payment_payonaccount</model>
             	<title>Pay on Account Plus</title>
             	<order_status>payonaccountplus_pending</order_status>             	
          	</payonaccountplus>
        </payment>         
  	</default>			
	<global>
		<blocks>
			<ecomwisecreditplus>
				<class>Ecomwise_Creditlimitplus_Block</class>
			</ecomwisecreditplus>
		</blocks>
		<helpers>
			<ecomwisecreditplus>
				<class>Ecomwise_Creditlimitplus_Helper</class>
			</ecomwisecreditplus>
		</helpers>		
		<models>
			<ecomwisecreditplus>
				<class>Ecomwise_Creditlimitplus_Model</class>
				<resourceModel>creditlimit_mysql4</resourceModel>					
			</ecomwisecreditplus>				
			<creditlimit_mysql4>			
				<class>Ecomwise_Creditlimitplus_Model_Mysql4</class>
				<entities>
					<creditlimits>
						<table>ecomwise_credit_limit</table>
					</creditlimits>
					<creditlimits_customers>
						<table>ecomwise_credit_limit_customers</table>
					</creditlimits_customers>					
					<customers>
						<table>ecomwise_credit_customers</table>
					</customers>					
				</entities>			
			</creditlimit_mysql4>				
		</models>		
		<fieldsets>
             <sales_convert_quote_payment>
                <payonaccountplus_option>
                    <to_order_payment>*</to_order_payment>
                </payonaccountplus_option>                
             </sales_convert_quote_payment>
        </fieldsets>		
		<resources>
			<creditplus_setup>
				<setup>
					<module>Ecomwise_Creditlimitplus</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</creditplus_setup>
			<creditplus_write>
				<connection>
					<use>core_write</use>
				</connection>
			</creditplus_write>
			<creditplus_read>
				<connection>
					<use>core_read</use>
				</connection>
			</creditplus_read>
		</resources>	          
	</global>	
	<frontend>		
		<layout>
			<updates>
				<ecomwisecreditplus>
					<file>ecomwisecreditplus.xml</file>
				</ecomwisecreditplus>
			</updates>
		</layout> 
		<routers>
            <ecomwisecreditplus>
                <use>standard</use>
                <args>
                    <module>Ecomwise_Creditlimitplus</module>
                    <frontName>credit</frontName>
                </args>
            </ecomwisecreditplus>
        </routers>		
		<events>	
			<sales_order_save_after>
				<observers>
					<order_save_after>
						<type>singleton</type>
						<class>ecomwisecreditplus/observer</class>
						<method>orderSaveAfter</method>
					</order_save_after>
				</observers>
			</sales_order_save_after>			
		</events>	
		<translate>
            <modules>
                <Ecomwise_Creditlimitplus>
                    <files>
                        <default>Ecomwise_Creditlimitplus.csv</default>
                    </files>
                </Ecomwise_Creditlimitplus>
            </modules>
        </translate>	
	</frontend>	
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ecomwise_Creditlimitplus before="Mage_Adminhtml">Ecomwise_Creditlimitplus_Adminhtml</Ecomwise_Creditlimitplus>
                    </modules>
                </args>
            </adminhtml>
        </routers>       
    </admin>		 
    <adminhtml>	
		<acl>			
			<resources>
	        	<all>
					<title>Allow Everything</title>
				</all>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <creditlimitplus translate="title" module="ecomwisecreditplus">
	                                        <title>Credit Limit plus</title>
	                                    </creditlimitplus>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	               </children>
	           </admin>
	       </resources>				
		</acl>	
		<layout>
            <updates>
              <ecomwisereviews>
                  <file>ecomwisecreditplus.xml</file>
              </ecomwisereviews>
           </updates>
     	</layout>
     	<translate>
            <modules>
                <Ecomwise_Creditlimitplus>
                    <files>
                        <default>Ecomwise_Creditlimitplus.csv</default>
                    </files>
                </Ecomwise_Creditlimitplus>
            </modules>
        </translate>	
     	<events>
			<customer_save_before>
				<observers>
					<customer_save_before>
						<type>singleton</type>
						<class>ecomwisecreditplus/observer</class>
						<method>customer_save_before</method>
					</customer_save_before>
				</observers>
			</customer_save_before>	
			<sales_order_payment_cancel>			
				<observers>
					<sales_order_payment_cancel>
						<type>singleton</type>
						<class>ecomwisecreditplus/observer</class>
						<method>sales_order_payment_cancel</method>
					</sales_order_payment_cancel>
				</observers>			
			</sales_order_payment_cancel> 			
			<sales_order_invoice_pay>
				<observers>
					<sales_order_invoice_pay>
						<type>singleton</type>
						<class>ecomwisecreditplus/observer</class>
						<method>sales_order_invoice_pay</method>
					</sales_order_invoice_pay>
				</observers>
			</sales_order_invoice_pay>		
		</events>	 	
	</adminhtml> 			
	<default>
    	<creditlimitplus>    		
    		<parameters>
    			<enabled>1</enabled>	
    			<show_banner>1</show_banner>
    		</parameters>     		  		
    	</creditlimitplus>
    </default>	  	
</config>