<?xml version="1.0"?>
<config>	
	<modules>
	<Ecomwise_B2BOrderlist>
		<version>1.5.1</version>
	</Ecomwise_B2BOrderlist>
	</modules> 		
	<default>
		<b2borderlist>
			<parameters>
				<register>1</register>												
      		</parameters>
    	</b2borderlist>
  	</default>		    
	<global>
		<models>
            <b2borderlist>
                <class>Ecomwise_B2BOrderlist_Model</class>
            </b2borderlist>
            <core>
				<rewrite>
					<email_template_mailer>Ecomwise_B2BOrderlist_Model_Rewrite_Mailer</email_template_mailer>					
				</rewrite>
			</core>				
         	<catalogrule_mysql4>
            	<rewrite>
            		<rule>Ecomwise_B2BOrderlist_Model_Rules_MySQL4Rule</rule>
            	</rewrite>
        	</catalogrule_mysql4>
        </models>
        <blocks>
        	<b2borderlist>
        		<class>Ecomwise_B2BOrderlist_Block</class>
        	</b2borderlist>
        	<adminhtml>
        		<rewrite>
        			<customer_group_edit_form>Ecomwise_B2BOrderlist_Block_Adminhtml_CustomerGroupForm</customer_group_edit_form>
        			<promo_catalog_edit_tabs>Ecomwise_B2BOrderlist_Block_Adminhtml_Catalogrule_Tabs</promo_catalog_edit_tabs>
        			<promo_catalog_grid>Ecomwise_B2BOrderlist_Block_Adminhtml_CustomerRuleGrid</promo_catalog_grid>
        		</rewrite>
        	</adminhtml>        	
        	 <catalog>
        		<rewrite>
        			<product_list_toolbar>Ecomwise_B2BOrderlist_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
           	 		<product_list>Ecomwise_B2BOrderlist_Block_Catalog_Product_List</product_list>
       		  		<navigation>Ecomwise_B2BOrderlist_Block_Catalog_Navigation</navigation>
       		 	</rewrite>
    		</catalog>
    		<catalogsearch>
        		<rewrite>
           	 		<advanced_result>classEcomwise_B2BOrderlist_Block_CatalogSearch_Advanced_Result</advanced_result>
       		  		<result>Ecomwise_B2BOrderlist_Block_CatalogSearch_Result</result>
       		 	</rewrite>
    		</catalogsearch>
    		<page>
        		<rewrite>
        			<html_head>Ecomwise_B2BOrderlist_Block_Page_Html_Head</html_head>
           	 		<html_topmenu>Ecomwise_B2BOrderlist_Block_Page_Html_Topmenu</html_topmenu>
           	 		<html_topmenu_renderer>Ecomwise_B2BOrderlist_Block_Page_Html_Topmenu_Renderer</html_topmenu_renderer>
       		 	</rewrite>
    		</page>
        </blocks>
        <helpers>
            <b2borderlist>
                <class>Ecomwise_B2BOrderlist_Helper</class>
            </b2borderlist>
        </helpers>
        <events>       
			<controller_action_postdispatch>
				<observers>
					<b2borderlist>
						<type>singleton</type>						
						<class>Ecomwise_B2BOrderlist_Model_Observer</class>
						<method>forceLogin</method>
					</b2borderlist>
				</observers>
			</controller_action_postdispatch>
				<customer_login>
				<observers>
					<b2borderlist>
						<type>singleton</type>						
						<class>Ecomwise_B2BOrderlist_Model_Observer</class>
						<method>redirect</method>
					</b2borderlist>
				</observers>
			</customer_login>			
			<catalogrule_rule_save_after>
    			<observers>
						<b2borderlist>
							<type>singleton</type>						
							<class>Ecomwise_B2BOrderlist_Model_Observer</class>  
							<method>saveCustomerMappings</method>
						</b2borderlist>
					</observers>
    		</catalogrule_rule_save_after>    	   
    		<catalogrule_rule_delete_after>
    			<observers>
						<b2borderlist>
							<type>singleton</type>						
							<class>Ecomwise_B2BOrderlist_Model_Observer</class>  
							<method>afterDeleteRule</method>
						</b2borderlist>
					</observers>
    		</catalogrule_rule_delete_after>    
		</events>
        <resources>        
			<b2borderlist_setup>
      			<setup>
                	 <module>Ecomwise_B2BOrderlist</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
			</b2borderlist_setup>
           
            <b2borderlist_write>
                <connection>
                    <use>core_write</use>
                </connection>
       		</b2borderlist_write>
            <b2borderlist_read>
                <connection>
                    <use>core_read</use>
                </connection>
       		</b2borderlist_read>
    	</resources>
	</global>
	<frontend>		
		<layout>
			<updates>
				<b2borderlist>
					<file>b2borderlist.xml</file>
				</b2borderlist>	
			</updates>
		</layout>		
		<routers>
        	<orderlist>
            	<use>standard</use>
            	<args>
                	<module>Ecomwise_B2BOrderlist</module>
                	<frontName>orderlist</frontName>
            	</args>
        	</orderlist>       	
        	<customer>				
				<args>
					<modules>
						<Ecomwise_B2BOrderlist before="Mage_Customer">Ecomwise_B2BOrderlist_Customer</Ecomwise_B2BOrderlist> 
					</modules>		
				</args>			
			</customer>
			<catalogsearch>				
				<args>
					<modules>
						<Ecomwise_B2BOrderlist before="Mage_CatalogSearch">Ecomwise_B2BOrderlist_CatalogSearch</Ecomwise_B2BOrderlist>
					</modules>		
				</args>			
			</catalogsearch>	        	
        </routers>        
        <translate>
            <modules>
                <Ecomwise_B2BOrderlist>
                    <files>
                        <default>Ecomwise_B2BOrderlist.csv</default>
                    </files>
                </Ecomwise_B2BOrderlist>
            </modules>
        </translate>
        <events>
        	<controller_action_layout_generate_blocks_after>
        		<observers>
					<b2borderlist>
						<class>Ecomwise_B2BOrderlist_Model_Observer</class>
						<method>setOrderlistTemplates</method>
					</b2borderlist>
				</observers>
        	</controller_action_layout_generate_blocks_after>        	       
    		<catalog_block_product_list_collection>
    			<observers>
    				<b2borderlist>
    					<class>b2borderlist/observer</class>
                        <method>prepareCollection</method>
               		</b2borderlist>
    			</observers>
    		</catalog_block_product_list_collection>    		
        </events>     
    </frontend>
   	<admin>
   		<routers>
	       <adminhtml>
        		<args>
        			<modules>
        				<Ecomwise_B2BOrderlist before="Mage_Adminhtml">Ecomwise_B2BOrderlist_Adminhtml</Ecomwise_B2BOrderlist>        			
        			</modules>
        		</args>
        	</adminhtml>
	    </routers>
   	</admin>
   	<adminhtml>
    	<layout>
            <updates>
              <b2borderlist>
                  <file>b2borderlist.xml</file>
              </b2borderlist>
           </updates>
     	</layout>
    </adminhtml>
    <adminhtml>
    	<acl>
	        <resources>
	        	<all>
					<title>Allow Everything</title>
				</all>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <b2borderlist translate="title" module="b2borderlist">
	                                        <title>B2B Order List</title>
	                                    </b2borderlist>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	               </children>
	           </admin>
	       </resources>
	    </acl>
	    <events>
	    	<customer_group_save_before>
			      <observers>
					<b2borderlist>
						<type>singleton</type>						
						<class>Ecomwise_B2BOrderlist_Model_Observer</class>
						<method>prepareCustomreGroup</method>
					</b2borderlist>
				</observers>
		   </customer_group_save_before>
		   <catalog_category_save_before>
    			<observers>
						<b2borderlist>
							<type>singleton</type>						
							<class>Ecomwise_B2BOrderlist_Model_Observer</class>  
							<method>saveCustomerGroupAttribute</method>
						</b2borderlist>
				</observers>
    		</catalog_category_save_before>	    
	    </events>	
    </adminhtml>
    <default>
    	<b2borderlist>
    		<parameters>
    			<active>0</active>
    			<list_mode>grid-list-order_list</list_mode>
    			<per_page_values>10,20,30</per_page_values>
    			<per_page>10</per_page>
    			<allow_all>1</allow_all>
    			<b2bstore_theme>b2borderlist</b2bstore_theme>
    		</parameters>
    	</b2borderlist>
    </default>     
</config>