<?xml version="1.0"?>
<config>
   <modules>
      <Wee_DeleteOrders>
         <version>1.0.0.1</version>
      </Wee_DeleteOrders>
   </modules>
  <global>
        <models>
            <wee_delete_orders>
                <class>Wee_DeleteOrders_Model</class>
            </wee_delete_orders>
        </models>
    </global>
    <admin>
        <routers>
            <wee_delete_orders>
                <use>admin</use>
                <args>
                    <module>Wee_DeleteOrders</module>
                    <frontName>wee_delete_orders</frontName>
                </args>
            </wee_delete_orders>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <wee_delete_orders>
                        <class>wee_delete_orders/observer</class>
                        <method>addOptionToSelect</method>
                    </wee_delete_orders>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
</config>
